<div id="wrapper">
    <div className="jumbotron">
        <h1>Note Scraper</h1>
    </div>
    <div className="container col-md-6" id="articles">

    </div>
    <div className="container col-md-6" id="notes">

    </div>
</div>